@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #191919;
    color: #fefefe;
}

.button-animation {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.35s;
}

.button-animation span {
    position: relative;
    z-index: 2;
}

.button-animation:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #62d2a2;
    transition: all 0.35s;
}

.button-animation:hover {
    color: #191919;
}

.button-animation:hover:after {
    width: 100%;
}

.mouse-pet {
    transition: width 0.5s, height 0.5s;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    * {
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
    span {
        display: none;
    }
}

.mouse-pet-hover span {
    display: block;
}

.top-75vh {
    top: 75vh;
}

.top-85vh {
    top: 85vh;
}

.dots-left {
    left: -450px;
    top: 5px;
}

.dots-right {
    right: -450px;
    top: 5px;
}

.filter-image {
    filter: grayscale(100%);
    transition: filter 0.5s;
    &:hover {
        filter: grayscale(0%);
    }
}
